@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mask-circle {
    position: absolute;
    mask-image: url("../public/mask.svg");
    background: #ec4e39;
    mask-repeat: no-repeat;
    color: white;
  }
}
